body {
    font-size: 14px;
}


.wd-tuiter {
    display: flex;
    margin:auto;
}

.wd-tuiter .wd-left-column{
    padding: 10px;
}

.wd-tuiter .wd-center-column{
    padding: 10px;
}

.wd-tuiter .wd-right-column{
    padding: 10px;
}
.wd-nav{
    font-size: 16px;
}

.wd-font{
    font-size: 16px;
}

.list-group {
    border-radius: 9px;
}

.input-group-text{
    background-color: white;
    border: 0px;
}

.list-group-item.override-bs{
    background-color: #16181C;
    opacity: 20;
    border-color: #16181C;
    color: whitesmoke;
}

.list-group-item.override-bs1{
    background-color: #16181C;
    opacity: 20;
    border-color: #16181C;
    color: whitesmoke;
}

.list-group-item.active{
    color: whitesmoke;
    font-weight: bold;
}


.nav-tabs .nav-link {
    background: 0 0;
    color: rgb(110,118,125);
    flex-wrap: wrap;
    font-size: 16px;
    column-width: fill-available;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    font-weight: bold;
    border-width: 0 0 5px 0;
    border-bottom : 5px solid dodgerblue;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: whitesmoke;
    font-weight: bold;
    background-color: transparent;
    border-width: 0 0 5px 0;
    border-bottom : 5px solid dodgerblue;
    flex-wrap: wrap;
    font-size: 16px;
    column-width: fill-available;
}

.wd-search .fas.fa-search {
    top: 17px;
    left: 32px;
}
.wd-middle {
    padding-top: 10px;
}

.wd-tuit-image-overlay {
    left: 20px;
    bottom: 10px;
}

.wd-border{
    border: 1px solid lightgray;
    border-radius: 5px;
}

.wd-margin{
    margin: 16px;
}

.card.override-bs{
    border-color: #212426;

}

.card-img.override-bs{
    border-color: #212426;
}

.wd-font-bold{
    font-weight: bold;
}

.wd-post-font{
    font-size: 16px;
}

.wd-post-topic{
    color: rgb(110,118,125);
}

.wd-post-time{
    color: rgb(110,118,125);
    font-weight: normal;
}
.wd-post-img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    float: right;
}


.wd-container {
    display: flex;
    justify-content: space-between;
}



.wd-avator{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.wd-container-bm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wd-username{
    color: #656E75;
}

.wd-container-left{
    display: flex;
}

.wd-float-left{
    float: left;
}

.wd-margin-left12{
    margin-left: 12px;
}


@media only screen and
(min-width: 1400px)  {
    .wd-tuiter {
        width: 1450px;
    }

    .wd-tuiter
    .wd-left-column {
        width: 250px;
    }

    .wd-tuiter
    .wd-center-column {
        width: 675px;
    }

    .wd-tuiter
    .wd-right-column {
        width: 400px;
    }
}

@media only screen and
(min-width: 1200px) and (max-width: 1399px)  {
    .wd-tuiter {
        width: 1250px;
    }

    .wd-tuiter
    .wd-left-column {
        width: 200px;
    }

    .wd-tuiter
    .wd-center-column {
        width: 600px;
    }

    .wd-tuiter
    .wd-right-column {
        width: 400px;
    }
}

@media only screen and
(min-width: 992px) and (max-width: 1199px)  {
    .wd-tuiter {
        width: 1100px;
    }

    .wd-nav .li {
        text-align: center !important;
    }

    .wd-tuiter
    .wd-left-column {
        width: 88px;
    }

    .wd-nav
    .wd-label{
        display: none;
    }

    .wd-tuit-btn{
        height: 40px;
        font-size: 14px;
    }

    .wd-tuiter
    .wd-center-column {
        width: 700px;
    }

    .wd-tuiter
    .wd-right-column {
        width: 350px;
    }
}

@media only screen and
(min-width: 768px) and (max-width: 991px)  {
    .wd-tuiter {
        width: 1000px;
    }


    .wd-tuiter
    .wd-left-column {
        width: 110px;
    }

    .wd-nav
    .wd-label{
        display: none;
    }

    .wd-tuit-btn{
        height: 40px;
        font-size: 16px;
    }

    .wd-tuiter
    .wd-center-column {
        width: 650px;
    }

    .wd-tuiter
    .wd-right-column {
        display: none;
    }
}

@media only screen and
(min-width: 576px) and (max-width: 767px)  {
    .wd-tuiter {
        width: 800px;
    }


    .wd-tuiter
    .wd-left-column {
        width: 90px;
    }

    .wd-nav
    .wd-label{
        display: none;
    }

    .wd-tuit-btn{
        height: 40px;
        font-size: 14px;
    }

    .wd-tuiter
    .wd-center-column {
        width: 560px;
    }

    .wd-tuiter
    .wd-right-column {
        display: none;
    }
}