.wd-bg-color {
    background-color: black;
}

.wd-border {
    border: 1px solid rgb(47,51,54);
}

.wd-margin-left-16 {
    margin-left: 16px;
}

.wd-font{
    font: 15px arial, sans-serif;
}

.wd-float-left{
    float: left;
}

.wd-clear{
    clear: both;
}